@import url(http://fonts.googleapis.com/css?family=Chivo:400,900,900italic);

body {
    background-image: url(../images/background.png);
    font-family: 'Chivo', sans-serif; 
    margin: 0;
    padding: 0;
    o
}


/* Header *************************************/

.header {
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -270px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
}

.header>div:nth-child(1) {
    float: left;
}

.header>div:nth-child(2) {
    float: left;
    margin-left:32px;
    text-align: center;
    color: #0d1d58;
}


.header>div:nth-child(3) {
    float: right;
}

/* Main ***************************************/

.main {
    width: 500px;
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    margin-top: 200px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;        
}

.main>h2{
    color: #0d1d58;
}

.book {
    background-image: url(../images/openBook.png);
    background-size: contain;
    width: 480px;
    height: 325px;
    margin-left: auto;
    margin-right: auto;
}

.book div {
    margin-top: 30px;   
    
}

.book .leftPage{
    float: left;
    margin-left: 70px;
}

.book .leftPage>ul>li {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg)
}

.book .rightPage>ul>li {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg)
}

.book .rightPage{
    float: right;
    margin-right: 70px;
}

.book ul {
    list-style: none;
    padding: 0;
}

.book ul li {
    margin-bottom: 20px;   
    
}

.book a {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.book a:hover {
    color: #0d1d58;
}

.nav{
    width: 100%;
    overflow: hidden;
}

.nav > div {
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: #7d90d6;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.5s background-color;
    transition: 0.5s background-color;
}    


.nav a{
    line-height: 38px;
    color: #0d1d58;
    text-decoration: none;
    font-weight: bold;
}

.nav div:hover {
    background-color: #1c56d9;
}

.nav>.back{
    float: left;
}
.nav>.next{
    float:right;
}


/* Foother ***********************************/
.foother {
    width: 500px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 50%;
    margin-left: -270px;
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
}